@* Importamos MudBlazor *@
@using MudBlazor
@using MudBlazor.Components



<div class="nav-scrollable " onclick="document.querySelector('.navbar-toggler').click()"  >

    <nav class="flex-column ">

        @* // Pokedex --- ------------------------------------- - --------------------------------------- *@


        <MudPaper Class="d-inline-flex my-3 mud-width-full " Elevation="0">

            <MudNavMenu Class="mud-width-full" >

         
                <MudText Typo="Typo.h6" Class="px-4">PokeAPI</MudText>
                <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary fst-italic">Consumer</MudText>

                <MudDivider Class="my-2" />

                <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard">Pokedex</MudNavLink>

              
            </MudNavMenu>
        </MudPaper>

    </nav>
</div>

